Repository taipt1504/conflu-exporter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm install --frozen-lockfile

Add: dependencies
  .husky/commit-msg
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm install --frozen-lockfile

Fix: continue with test error
  .github/workflows/release.yml
Due: prettier --write

fix(deps): add semantic-release plugins to devDependencies
  package.json
Due: prettier --write, pnpm install --frozen-lockfile

fix(deps): add semantic-release and automation dependencies
  package.json
Due: prettier --write, pnpm install --frozen-lockfile

chore(deps): update lockfile with automation dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

fix(ci): capture semantic-release outputs for workflow summary
  .github/workflows/release.yml
Due: prettier --write

feat: support Mermaid for Confluence plugin text/plain attachments
  src/converters/macro-handlers/mermaid-handler.ts
  src/converters/macro-parser.ts
  src/core/attachment-handler.ts
Due: eslint --fix, prettier --write

fix: confluence cloud attachment downloads and mermaid macro support
  exports/PT/high-level-design-aml-system.md
  exports/manifest.json
  src/converters/macro-handlers/mermaid-handler.ts
  src/converters/macro-parser.ts
  src/converters/markdown-converter.ts
  src/core/attachment-handler.ts
Due: eslint --fix, prettier --write

feat: complete mermaid diagram source extraction to markdown
  src/converters/html-processor.ts
  src/converters/macro-handlers/mermaid-handler.ts
  src/converters/markdown-converter.ts
Due: eslint --fix, prettier --write

Remove testing
  exports/PT/high-level-design-aml-system.md
  exports/manifest.json
Due: prettier --write

feat(macros): enhance macro parsing with attachment support and validation
  src/cli/commands/export-page.ts
  src/converters/base-converter.ts
  src/converters/html-processor.ts
  src/converters/macro-parser.ts
Due: eslint --fix, prettier --write

feat: support all Mermaid macro variants and fix HTML entity handling
  README.md
  src/converters/macro-handlers/mermaid-handler.ts
  src/converters/macro-parser.ts
Due: eslint --fix, prettier --write

Refactor Mermaid macro handling with Strategy + Registry Pattern
  src/converters/base-converter.ts
  src/converters/html-processor.ts
  src/converters/macro-handlers/base-macro-handler.ts
  src/converters/macro-handlers/index.ts
  src/converters/macro-handlers/macro-handler-registry.ts
  src/converters/macro-handlers/mermaid-handler.ts
  src/converters/macro-handlers/mermaid/README.md
  src/converters/macro-handlers/mermaid/base-mermaid-handler.ts
  src/converters/macro-handlers/mermaid/builtin-mermaid-handler.ts
  src/converters/macro-handlers/mermaid/index.ts
  src/converters/macro-handlers/mermaid/mermaid-processor.ts
  src/converters/macro-handlers/mermaid/mermaid-variants.config.ts
  src/converters/macro-handlers/mermaid/plugin-mermaid-handler.ts
  src/converters/markdown-converter.ts
Due: eslint --fix, prettier --write

fix: Wrap image and attachment URLs in angle brackets for proper rendering
  src/converters/markdown-converter.ts
Due: eslint --fix, prettier --write

feat: Implement automatic image/attachment download during export
  src/cli/commands/export-page.ts
  src/converters/markdown-converter.ts
  src/storage/asset-downloader.ts
  src/storage/directory-manager.ts
  src/storage/index.ts
  tests/storage.test.ts
Due: eslint --fix, prettier --write

fix: Merge images from view content when storage has macros
  src/converters/html-processor.ts
Due: eslint --fix, prettier --write

fix: Implement TOC generation and enhance code macro handling
  src/converters/macro-handlers/code-handler.ts
  src/converters/macro-handlers/content-handler.ts
  src/converters/markdown-converter.ts
Due: eslint --fix, prettier --write

chore: ignore generated artifacts in core src directory
  .gitignore
Due: none

docs: overhaul documentation project-wide
  PUBLISHING.md
  README.md
  extension/README.md
  store-assets/promo-tile.png
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,yml,yaml})
  pnpm install --frozen-lockfile: any of: package.json
